<p>*Ansvarsfraskrivelse: Dette nettsiden er ikke ment å være en uttømmende referanse. Og ja, det er andre måter å gjøre de samme tingene med mer teoretisk renhet eller hva, men jeg har kommet til disse trinnene gjennom prøving og feiling og mye banning og bordvelting, og jeg hadde denne sprø ideen om å dele dem med sunn dose av lettsindighet og banning. Ta det eller la det være som du vil!</p>


