<p>Mangen takk til alle som har frivilig bidratt med å oversette siden til et nytt språk, du rocker!
{% include "partials/collaborator-list.njk" %}. Med ytterligere hjelp fra {% include "partials/otherhelper-list.njk" %}</p>

<p>Hvis du vil hjelpe og oversette til språket ditt, kan du legge ut en PR på {% github_link %}</p>

