<footer>
    <small class="contact">Hva er din Faen da, git øyeblikk? Del det med meg! </small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>


