<p>Git er vanskelig: å skru opp er enkelt, og det er umulig å finne ut hvordan du kan løse feilene dine. Git-dokumentasjon har et kylling- og egg problem der du ikke kan søke etter hvordan du kan komme deg ut av et rotet, <em> med mindre du allerede vet navnet på tingen du trenger å vite om </em> for å fikse problem</p>

<p>Så her er noen dårlige situasjoner jeg har fått meg inn i, og hvordan jeg til slutt fikk meg selv ut av de  <em>på ren norsk</em>.</p>
 